<main id="main" class="main">
  <div class="pagetitle">
    <h1>List forms</h1>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
      </div>
      <input
        class="form-control"
        type="text"
        placeholder="Rechercher par nom"
      />
    </div>
  </div>
  <div class="col-12">
    <div class="card top-selling overflow-auto">
      <div class="card-body pb-0">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="paddingBottom" scope="col">Nom</th>
              <th class="paddingBottom" scope="col">E-mail</th>
              <th class="paddingBottom" scope="col">Tel</th>
              <th class="paddingBottom" scope="col">Booking</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let form of formList" id="tr">
              <td>{{ form.nom }}</td>
              <td>{{ form.email }}</td>
              <td>{{ form.tel }}</td>
              <td>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                    [checked]="form.meetingOver"
                    #status
                    (change)="chengeStatus(form._id, status.checked)"
                  />
                </div>
              </td>
              <th scope="row">
                <button class="btn btn-primary" (click)="seemore(form)">
                  + voir plus
                </button>
              </th>

              <td>
                <i class="bi bi-trash" (click)="deleteSiege(form._id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link"></a>
      </li>
      <li class="page-item">
        <a class="page-link">Next</a>
      </li>
    </ul>
  </nav>
</main>
