<main id="main" class="main">
  <div class="pagetitle">
    <h1>document</h1>
  </div>

  <div class="big-container">
    <section class="section profile">
      <div class="row" id="row">
        <div class="card" id="card_user">
          <div
            class="card-body profile-card pt-4 d-flex flex-column align-items-center"
          >
            <i class="bi bi-person" id="icon"></i>
            <h2>{{ document?.nom }}</h2>
          </div>
          <div class="information_user">
            <h4>Données saisies par le client :</h4>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">E-mail :</div>
              <div class="col-lg-4 col-md-8">{{ document?.email }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">Numéro de téléphone :</div>
              <div class="col-lg-4 col-md-8">{{ document?.tel }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">Civilité :</div>
              <div class="col-lg-4 col-md-8">{{ document?.civilite }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">Date de naissance :</div>
              <div class="col-lg-4 col-md-8">
                {{ document?.anneDeNaissance }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">Situation familiale :</div>
              <div class="col-lg-4 col-md-8 container-multiple">
                <div
                  class="multy-item"
                  *ngFor="let e of document?.situationFamiliale"
                >
                  {{ e }}
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                Nombre d'enfants eus ou adoptés :
              </div>
              <div class="col-lg-4 col-md-8">
                {{ document?.nombreDenfants }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                Nombre d'enfants élevés :
              </div>
              <div class="col-lg-4 col-md-8">
                {{ document?.nombreDenfantsEleves }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">Étude supérieure :</div>
              <div class="col-lg-4 col-md-8">
                {{ document?.etudeSuperieure }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                Àge souhaité de départ :
              </div>
              <div class="col-lg-4 col-md-8">
                {{ document?.ageSouhaiteDeDepart }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                Àge de début d'activité professionnelle :
              </div>
              <div class="col-lg-4 col-md-8">
                {{ document?.ageDuDebutdactiviteProfessionnelle }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                Dans votre carrière avez-vous été dans une ou plusieurs de ces
                situations? :
              </div>
              <div class="col-lg-4 col-md-8 container-multiple">
                <div class="multy-item" *ngFor="let e of document?.avezVousEte">
                  {{ e }}
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                Avez-vous rencontré une ou plusieurs de ces situations? :
              </div>
              <div class="col-lg-4 col-md-8 container-multiple">
                <div
                  class="multy-item"
                  *ngFor="let e of document?.avezVousRencontre"
                >
                  {{ e }}
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                Revenus professionnels actuels (net annuel avant impôts) ? :
              </div>
              <div class="col-lg-4 col-md-8">{{ document?.niveauActuel }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                Évolution durant la carrière? :
              </div>
              <div class="col-lg-4 col-md-8">{{ document?.evolution }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                À titre individuel (PER, assurance vie…) :
              </div>
              <div class="col-lg-4 col-md-8">
                {{ document?.titreIndividuel }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                À titre professionnel obligatoire (PERO...) :
              </div>
              <div class="col-lg-4 col-md-8">
                {{ document?.titreProfessionnelObligatoire }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-lg-8 col-md-4 label">
                À titre professionnel facultatif (PERCO, Madelin...) :
              </div>
              <div class="col-lg-4 col-md-8">
                {{ document?.titreProfessionnelFacultatif }}
              </div>
            </div>
          </div>
        </div>

        <!---->
      </div>
    </section>
    <div>
      <div class="document-design">
        <div class="cube-box box1">
          <img
            *ngIf="document?.risqueTrimestre"
            [src]="formatImageUrl(document?.risqueTrimestre.status)"
            alt=""
          />
          <div class="btn btn-secondary btn-lg buton-res">
            <i class="bi bi-hourglass-split"></i>
            Risques sur les trimestres
          </div>
        </div>
        <div class="cube-box box2">
          <div class="btn btn-secondary btn-lg buton-res">
            <i class="bi bi-calculator"></i>

            Risques sur les régimes complémentaires
          </div>
          <img
            *ngIf="document?.risqueComp"
            [src]="formatImageUrl(document?.risqueComp.status)"
            alt=""
          />
        </div>
        <div class="cube-box box3">
          <img
            *ngIf="document?.risqueSup"
            [src]="formatImageUrl(document?.risqueSup.status)"
            alt=""
          />
          <div class="btn btn-secondary btn-lg buton-res">
            <i class="bi bi-graph-up-arrow"></i>

            Risques sur les régimes supplémentaires
          </div>
        </div>
        <div class="cube-box boxcenter">
          <div class="btn btn-secondary btn-lg buton-res">
            DiagFlash Retraite
          </div>
        </div>
        <div class="cube-box box4">
          <div class="btn btn-secondary btn-lg buton-res">
            <i class="bi bi-clock"></i>

            Risques sur l'âge de départ
          </div>
          <img
            *ngIf="document?.risqueAge"
            [src]="formatImageUrl(document?.risqueAge.status)"
            alt=""
          />
        </div>
        <div class="cube-box box5">
          <img
            *ngIf="document?.risqueTraindevie"
            [src]="formatImageUrl(document?.risqueTraindevie.status)"
            alt=""
          />
          <div class="btn btn-secondary btn-lg buton-res">
            <i class="bi bi-coin"></i>
            Risques train de vie
          </div>
        </div>
        <div class="cube-box box6">
          <div class="btn btn-secondary btn-lg buton-res">
            <i class="bi bi-people-fill"></i>
            Risques réversion
          </div>
          <img
            *ngIf="document?.risqueReversion"
            [src]="formatImageUrl(document?.risqueReversion.status)"
            alt=""
          />
        </div>
      </div>
      <div class="results">
        <div class="box" (click)="a1 = !a1">
          <div class="top">
            <img
              *ngIf="document?.risqueTrimestre"
              [src]="formatImageUrl(document?.risqueTrimestre.status)"
              alt=""
            />
            <h2>Risques sur les trimestres</h2>
            <div>
              <i class="bi bi-chevron-double-down" *ngIf="!a1"></i>
              <i class="bi bi-chevron-double-up" *ngIf="a1"></i>
            </div>
          </div>
          <div class="body" *ngIf="document?.risqueTrimestre && a1">
            {{ document?.risqueTrimestre.text }}
          </div>
        </div>
        <div class="box" (click)="a2 = !a2">
          <div class="top">
            <img
              *ngIf="document?.risqueComp"
              [src]="formatImageUrl(document?.risqueComp.status)"
              alt=""
            />
            <h2>Risques sur les régimes complémentaires</h2>
            <div>
              <i class="bi bi-chevron-double-down" *ngIf="!a2"></i>
              <i class="bi bi-chevron-double-up" *ngIf="a2"></i>
            </div>
          </div>
          <div class="body" *ngIf="document?.risqueComp && a2">
            {{ document?.risqueComp.text }}
          </div>
        </div>
        <div class="box" (click)="a3 = !a3">
          <div class="top">
            <img
              *ngIf="document?.risqueSup"
              [src]="formatImageUrl(document?.risqueSup.status)"
              alt=""
            />
            <h2>Risques sur les régimes supplémentaires</h2>
            <div>
              <i class="bi bi-chevron-double-down" *ngIf="!a3"></i>
              <i class="bi bi-chevron-double-up" *ngIf="a3"></i>
            </div>
          </div>
          <div class="body" *ngIf="document?.risqueSup && a3">
            {{ document?.risqueSup.text }}
          </div>
        </div>
        <div class="box" (click)="a4 = !a4">
          <div class="top">
            <img
              *ngIf="document?.risqueAge"
              [src]="formatImageUrl(document?.risqueAge.status)"
              alt=""
            />
            <h2>Risques sur l'âge de départ</h2>
            <div>
              <i class="bi bi-chevron-double-down" *ngIf="!a4"></i>
              <i class="bi bi-chevron-double-up" *ngIf="a4"></i>
            </div>
          </div>
          <div class="body" *ngIf="a4">
            {{ document?.risqueAge.text }}
          </div>
        </div>
        <div class="box" (click)="a5 = !a5">
          <div class="top">
            <img
              *ngIf="document?.risqueTraindevie"
              [src]="formatImageUrl(document?.risqueTraindevie.status)"
              alt=""
            />
            <h2>Risques train de vie</h2>
            <div>
              <i class="bi bi-chevron-double-down" *ngIf="!a5"></i>
              <i class="bi bi-chevron-double-up" *ngIf="a5"></i>
            </div>
          </div>
          <div class="body" *ngIf="document?.risqueTraindevie && a5">
            {{ document?.risqueTraindevie.text }}
          </div>
        </div>
        <div class="box" (click)="a6 = !a6">
          <div class="top">
            <img
              *ngIf="document?.risqueReversion"
              [src]="formatImageUrl(document?.risqueReversion.status)"
              alt=""
            />
            <h2>Risques réversion</h2>
            <div>
              <i class="bi bi-chevron-double-down" *ngIf="!a6"></i>
              <i class="bi bi-chevron-double-up" *ngIf="a6"></i>
            </div>
          </div>
          <div class="body" *ngIf="document?.risqueReversion && a6">
            {{ document?.risqueReversion.text }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
