<!-- <div class="calendar" style="margin-bottom: 200px" *ngIf="!check">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div> -->
<main id="main" class="main">
  <div class="container-meetings">
    <div class="calendly">
      <div
        *ngFor="let e of meetings"
        class="meeting"
        (click)="
          checkMoreSecond(
            e.uri,
            timeFormat(e.start_time),
            timeFormat(e.end_time)
          )
        "
      >
        <div>{{ timeFormat(e.start_time) }}</div>
        <div>{{ timeFormat(e.end_time) }}</div>
      </div>
    </div>
    <div class="check_details" *ngIf="check">
      <div class="email">
        <div class="dot"></div>
        {{ meet.email }}
      </div>
      <div class="date">
        <div>{{ meet.start }}</div>
        <div>{{ meet.end }}</div>
      </div>

      <div class="name">
        <span style="font-weight: 500">Nom & Prenom :</span> {{ meet.name }}
      </div>
      <div class="name" *ngFor="let e of meet.questions_and_answers">
        <div style="font-weight: 500">{{ e.question }} ?</div>
        <div>{{ e.answer }}</div>
      </div>
    </div>
  </div>
</main>
