<body>
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">
          <img src="../../assets/images/logo.png" alt="" />
          dashboard
        </span>
      </div>
    </div>
  </header>

  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          [routerLink]="['/home/listform']"
          [ngClass]="{ 'active-link': isRouteActive('/home/listform') }"
        >
          <i
            class="bi bi-card-list"
            [ngClass]="{ 'active-link': isRouteActive('/home/listform') }"
          ></i>
          <span>Liste des leads</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          [routerLink]="['/home/check']"
          [ngClass]="{ 'active-link': isRouteActive('/home/check') }"
        >
          <i
            class="bi bi-book"
            [ngClass]="{ 'active-link': isRouteActive('/home/check') }"
          ></i>
          <span>Liste des rendez-vous</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          [routerLink]="['/home/archive']"
          [ngClass]="{ 'active-link': isRouteActive('/home/archive') }"
        >
          <i
            class="bi bi-archive"
            [ngClass]="{ 'active-link': isRouteActive('/home/archive') }"
          ></i>
          <span>Liste des leads supprimés</span>
        </a>
      </li>
      <li class="nav-item align-self-end">
        <a
          class="nav-link collapsed"
          (click)="disconnect()"
          style="cursor: pointer"
        >
          <i class="bi bi-box-arrow-left"></i>
          <span>Déconnecter</span>
        </a>
      </li>
    </ul>
  </aside>

  <router-outlet></router-outlet>

  <a
    href="#"
    class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
  ></a>
</body>
