<main id="main" class="main">
  <div class="pagetitle">
    <h1>Liste des leads supprimés</h1>
    <div>
      <select #phoning (change)="updatePagedAndFilteredSiegesByPhoning(phoning.value)" id="">
        <option value="all">Toute</option>
        <option value="false" >Réunion terminée </option>
        <option value="true">Pas terminée</option>
      </select>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
      </div>
      <input
        class="form-control"
        type="text"
        placeholder="Rechercher par Téléphone	"
        [(ngModel)]="searchName"
      />
    </div>
  </div>
  <div class="col-12">
    <div class="card top-selling overflow-auto">
      <div class="card-body pb-0">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="paddingBottom" scope="col">Nom</th>
              <th class="paddingBottom" scope="col">E-mail</th>
              <th class="paddingBottom" scope="col">Téléphone</th>
              <th class="paddingBottom" scope="col">Phoning</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let form of filteredSieges.slice().reverse()" id="tr">
              <td>{{ form.nom }}</td>
              <td>{{ form.email }}</td>
              <td>{{ form.tel }}</td>
              <td>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                    [checked]="form.meetingOver"
                    #status
                    disabled
                  />
                </div>
              </td>
              <th scope="row">
                <button
                  class="btn btn-primary"
                  style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
                  (click)="seemore(form)"
                >
                  <i class="bi bi-eye"></i>
                  voir plus
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="goToPreviousPage()">Précédent</a>
      </li>
      <li
        class="page-item"
        *ngFor="let page of totalPages"
        [class.active]="page === currentPage"
      >
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li
        class="page-item"
        [class.disabled]="currentPage === totalPages.length"
      >
        <a class="page-link" (click)="goToNextPage()">Suivant</a>
      </li>
    </ul>
  </nav>
</main>
